# **Assignment 2:**

Forecasting models

In [2]:
%load_ext autoreload
%autoreload 2

## The steps are:
1.   Load and explore dataset
2.   Data preparation
3.   Split data
4.   ARIMA model¶
5.   XGBoost model with hyperparamaters¶
6.   XGBoost model with optimal hyperparamaters and lags

## 1. Load and explore dataset

Import packages

In [3]:
import pandas as pd
import numpy as np

Load the dataset into dataframe

In [4]:
df_test = pd.read_csv('../../data/raw/sales_test.csv')
df_train = pd.read_csv('../../data/raw/sales_train.csv')
df_events = pd.read_csv('../../data/raw/calendar_events.csv')
df_calendar = pd.read_csv('../../data/raw/calendar.csv')
df_items_weekly_price = pd.read_csv('../../data/raw/items_weekly_sell_prices.csv')

Display the first 5 rows of tranining data

In [5]:
df_train.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1532,d_1533,d_1534,d_1535,d_1536,d_1537,d_1538,d_1539,d_1540,d_1541
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,1,0,1,0,1,0,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,2,0,8,2,3,1,1,3,8
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,0,1,3,2,1,1,2,2,3

In [6]:
print("Missing values in tranining data:")
for i in df_train.columns[df_train.isna().any()]:
    no_missing = df_train[i].isna().sum()
    print("Column "+str(i) +":"+str(no_missing) +" NAs")

Missing values in tranining data:

Information of training dataset

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1547 entries, id to d_1541
dtypes: int64(1541), object(6)
memory usage: 359.9+ MB

Showing first 5 rows of calendar

In [8]:
df_calendar.head(5)

         date  wm_yr_wk    d
0  2011-01-29     11101  d_1
1  2011-01-30     11101  d_2
2  2011-01-31     11101  d_3
3  2011-02-01     11101  d_4
4  2011-02-02     11101  d_5

Showing first 5 rows of event calendar

In [9]:
df_events.head(5)

         date     event_name event_type
0  2011-02-06      SuperBowl   Sporting
1  2011-02-14  ValentinesDay   Cultural
2  2011-02-21  PresidentsDay   National
3  2011-03-09      LentStart  Religious
4  2011-03-16      LentWeek2  Religious

Showing first 5 rows of test

In [10]:
df_test.head(5)

,d_1542,d_1543,d_1544,d_1545,d_1546,d_1547,d_1548,d_1549,d_1550,d_1551,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,0,1,0,2,1,0,2,0,1,0,...,2,4,0,0,0,0,3,3,0,1
1,0,0,0,0,0,0,0,0,1,0,...,0,1,2,1,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,4,1,0,1,3,5,2,3,0,2,...,1,1,0,4,0,1,3,0,2,6
4,3,0,0,1,1,0,2,0,2,1,...,0,0,0,2,1,0,0,2,1,0

## 2. Data preparations

Melt the training data

In [11]:
columnns=['id','dept_id','cat_id','state_id']
df_train_melt=pd.melt(df_train.drop(columns=columnns),id_vars=['item_id','store_id'],var_name='day',value_name='sales')

In [12]:
df_train_melt.head(5)

         item_id store_id  day  sales
0  HOBBIES_1_001     CA_1  d_1      0
1  HOBBIES_1_002     CA_1  d_1      0
2  HOBBIES_1_003     CA_1  d_1      0
3  HOBBIES_1_004     CA_1  d_1      0
4  HOBBIES_1_005     CA_1  d_1      0

Combining calendar and events datasets

In [13]:
df_ce = pd.merge(df_calendar, df_events, on='date', how='left')

In [14]:
#drop the event name
df_ce.drop(columns="event_name",inplace=True)

In [15]:
#Rename day
df_ce.rename(columns={'d':'day'},inplace=True)

df_ce.head(5)

One date can have multiple events

In [16]:
print(df_ce[df_ce.duplicated('day')])

            date  wm_yr_wk     day event_type
86    2011-04-24     11113    d_86  Religious
829   2013-05-05     11315   d_828  Religious
1180  2014-04-20     11412  d_1178  Religious
1237  2014-06-15     11420  d_1234   Sporting
1973  2016-06-19     11621  d_1969   Sporting

In [17]:
df_ce[df_ce["day"]=="d_86"]

          date  wm_yr_wk   day event_type
85  2011-04-24     11113  d_86   Cultural
86  2011-04-24     11113  d_86  Religious

Combine the malted dataset vs combined calendar and event.

In [18]:
df_train_ce = pd.merge(df_train_melt, df_ce, on='day', how='left')

Combine with items weekly price

In [19]:
df_train_combined = pd.merge(df_train_ce, df_items_weekly_price, on=['item_id','store_id','wm_yr_wk'], how='left')

In [20]:
df_train_combined.head(5)

,item_id,store_id,day,sales,date,wm_yr_wk,event_type,sell_price
0,HOBBIES_1_001,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
1,HOBBIES_1_002,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
2,HOBBIES_1_003,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
3,HOBBIES_1_004,CA_1,d_1,0,2011-01-29,11101,NaN,NaN
4,HOBBIES_1_005,CA_1,d_1,0,2011-01-29,11101,NaN,NaN

Missing records:

In [21]:
print("Missing values in tranining data:")
for i in df_train_combined.columns[df_train_combined.isna().any()]:
    no_missing = df_train_combined[i].isna().sum()
    print("Column "+str(i) +":"+str(no_missing) +" NAs")

Missing values in tranining data:
Column event_type:43143350 NAs
Column sell_price:12291876 NAs

Fill null values in weekly sell price with average prices of the same item in different stores

In [22]:
mean_price = df_train_combined.groupby(['item_id'])['sell_price'].transform('mean')

In [23]:
df_train_combined['sell_price'].fillna(mean_price, inplace=True)

Create a revanue column by using sales and sell_price

In [24]:
df_train_combined["revenue"]=df_train_combined["sales"]*df_train_combined["sell_price"]

Create a event columns to check if is there event on this day

In [25]:
df_train_combined['is_event'] = df_train_combined['event_type'].notnull().astype(int)

Drop sale, day, wm_yr_wk,sell_price, event_type columns

In [26]:
df_train_combined.drop(columns=["item_id","store_id","day","event_type","sales","wm_yr_wk","sell_price"],inplace=True)

Convert date to timestampe and then create new columns as day of month, month of year and day of week

In [27]:
df_train_combined['date'] = pd.to_datetime(df_train_combined['date'])

In [28]:
df_train_grouped = df_train_combined.groupby('date').agg({'revenue': 'sum', 'is_event': 'max'}).reset_index()
df_train_grouped

           date    revenue  is_event
0    2011-01-29   81650.61         0
1    2011-01-30   78970.57         0
2    2011-01-31   57706.91         0
3    2011-02-01   60761.20         0
4    2011-02-02   46959.95         0
...         ...        ...       ...
1536 2015-04-14  102896.92         0
1537 2015-04-15  106913.88         0
1538 2015-04-16   98373.49         0
1539 2015-04-17  103030.58         0
1540 2015-04-18  132625.89         0

[1541 rows x 3 columns]

## 3. Data Splitting

In [29]:
df_cleaned = df_train_grouped.copy()

In [30]:
df_cleaned['lag_1'] = df_cleaned['revenue'].shift(1)

In [31]:
#Spliting dataset to training and validating dataset with ratio 8:2

In [32]:
index = int(len(df_cleaned) * 0.8)
train_data = df_cleaned.iloc[:index]
valid_data = df_cleaned.iloc[index:]

In [33]:
train_data.shape

(1232, 4)

In [34]:
valid_data.shape

(309, 4)

## 4. ARIMA model

In [92]:
import warnings
warnings.filterwarnings("ignore")

In [142]:
!pip install statsmodels,matplotlib,xgboost

Collecting fbprophet
  Downloading fbprophet-0.7.1.tar.gz (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.0/64.0 kB 274.4 kB/s eta 0:00:00 kB/s eta 0:00:01:01
  Preparing metadata (setup.py) ... done
Collecting Cython>=0.22 (from fbprophet)
  Downloading Cython-3.0.2-cp39-cp39-macosx_10_9_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 1.1 MB/s eta 0:00:00m eta 0:00:010:01:010m
Collecting cmdstanpy==0.9.5 (from fbprophet)
  Downloading cmdstanpy-0.9.5-py3-none-any.whl (37 kB)
Collecting pystan>=2.14 (from fbprophet)
  Downloading pystan-3.7.0-py3-none-any.whl (13 kB)
Requirement already satisfied: numpy>=1.15.4 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (1.25.2)
Requirement already satisfied: pandas>=1.0.4 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (2.0.1)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (3.8.0)
Requirement already satisfied: LunarCalendar>=0.0.9 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (0.34)
Collecting setuptools-git>=1.2 (from fbprophet)
  Downloading setuptools_git-1.2-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.8.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from fbprophet) (4.66.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from convertdate>=2.1.2->fbprophet) (0.5.12)
Requirement already satisfied: ephem>=3.7.5.3 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.4)
Requirement already satisfied: pytz in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from LunarCalendar>=0.0.9->fbprophet) (2023.3.post1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (3.1.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from matplotlib>=2.0.0->fbprophet) (6.1.0)
Requirement already satisfied: tzdata>=2022.1 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from pandas>=1.0.4->fbprophet) (2023.3)
Collecting aiohttp<4.0,>=3.6 (from pystan>=2.14->fbprophet)
  Downloading aiohttp-3.8.5-cp39-cp39-macosx_10_9_x86_64.whl (368 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 368.1/368.1 kB 997.2 kB/s eta 0:00:00[31m1.1 MB/s eta 0:00:01
Collecting clikit<0.7,>=0.6 (from pystan>=2.14->fbprophet)
  Downloading clikit-0.6.2-py2.py3-none-any.whl (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.8/91.8 kB 830.0 kB/s eta 0:00:0031m1.2 MB/s eta 0:00:01
Collecting httpstan<4.11,>=4.10 (from pystan>=2.14->fbprophet)
  Downloading httpstan-4.10.1-cp39-cp39-macosx_10_16_x86_64.whl (35.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.8/35.8 MB 513.7 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Collecting pysimdjson<6.0.0,>=5.0.2 (from pystan>=2.14->fbprophet)
  Downloading pysimdjson-5.0.2-cp39-cp39-macosx_10_9_x86_64.whl (195 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 195.5/195.5 kB 798.8 kB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: setuptools in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from pystan>=2.14->fbprophet) (67.6.1)
Requirement already satisfied: six>=1.5 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.0->fbprophet) (1.16.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet) (3.3.0)
Collecting multidict<7.0,>=4.5 (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet)
  Downloading multidict-6.0.4-cp39-cp39-macosx_10_9_x86_64.whl (29 kB)
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet)
  Downloading async_timeout-4.0.3-py3-none-any.whl (5.7 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet)
  Downloading yarl-1.9.2-cp39-cp39-macosx_10_9_x86_64.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.9/65.9 kB 459.3 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting frozenlist>=1.1.1 (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet)
  Downloading frozenlist-1.4.0-cp39-cp39-macosx_10_9_x86_64.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.6/47.6 kB 401.9 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting aiosignal>=1.1.2 (from aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting crashtest<0.4.0,>=0.3.0 (from clikit<0.7,>=0.6->pystan>=2.14->fbprophet)
  Downloading crashtest-0.3.1-py3-none-any.whl (7.0 kB)
Collecting pastel<0.3.0,>=0.2.0 (from clikit<0.7,>=0.6->pystan>=2.14->fbprophet)
  Downloading pastel-0.2.1-py2.py3-none-any.whl (6.0 kB)
Collecting pylev<2.0,>=1.3 (from clikit<0.7,>=0.6->pystan>=2.14->fbprophet)
  Downloading pylev-1.4.0-py2.py3-none-any.whl (6.1 kB)
Collecting appdirs<2.0,>=1.4 (from httpstan<4.11,>=4.10->pystan>=2.14->fbprophet)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting marshmallow<4.0,>=3.10 (from httpstan<4.11,>=4.10->pystan>=2.14->fbprophet)
  Downloading marshmallow-3.20.1-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 654.9 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting webargs<9.0,>=8.0 (from httpstan<4.11,>=4.10->pystan>=2.14->fbprophet)
  Downloading webargs-8.3.0-py3-none-any.whl (31 kB)
Requirement already satisfied: zipp>=3.1.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib>=2.0.0->fbprophet) (3.17.0)
Requirement already satisfied: idna>=2.0 in /Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->pystan>=2.14->fbprophet) (3.4)
Building wheels for collected packages: fbprophet
  Building wheel for fbprophet (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [55 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build/lib
      creating build/lib/fbprophet
      creating build/lib/fbprophet/stan_model
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/setup.py", line 122, in <module>
          setup(
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/__init__.py", line 108, in setup
          return distutils.core.setup(**attrs)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/core.py", line 185, in setup
          return run_commands(dist)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/core.py", line 201, in run_commands
          dist.run_commands()
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/dist.py", line 969, in run_commands
          self.run_command(cmd)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/dist.py", line 1221, in run_command
          super().run_command(command)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/dist.py", line 988, in run_command
          cmd_obj.run()
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/wheel/bdist_wheel.py", line 343, in run
          self.run_command("build")
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/cmd.py", line 318, in run_command
          self.distribution.run_command(command)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/dist.py", line 1221, in run_command
          super().run_command(command)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/dist.py", line 988, in run_command
          cmd_obj.run()
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/command/build.py", line 131, in run
          self.run_command(cmd_name)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/cmd.py", line 318, in run_command
          self.distribution.run_command(command)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/dist.py", line 1221, in run_command
          super().run_command(command)
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/setuptools/_distutils/dist.py", line 988, in run_command
          cmd_obj.run()
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/setup.py", line 48, in run
          build_models(target_dir)
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/setup.py", line 36, in build_models
          from fbprophet.models import StanBackendEnum
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/fbprophet/__init__.py", line 8, in <module>
          from fbprophet.forecaster import Prophet
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/fbprophet/forecaster.py", line 17, in <module>
          from fbprophet.make_holidays import get_holiday_names, make_holidays_df
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/fbprophet/make_holidays.py", line 14, in <module>
          import fbprophet.hdays as hdays_part2
        File "/private/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/pip-install-jzutxkvv/fbprophet_1834d5c075da4a35a78c5eeb078fa960/fbprophet/hdays.py", line 924, in <module>
          class TU(Turkey):
        File "/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment2-Of0dlyWH-py3.9/lib/python3.9/site-packages/holidays/registry.py", line 176, in __init__
          raise TypeError(
      TypeError: This is a python-holidays entity loader class. For entity inheritance purposes please import a class you want to derive from directly: e.g., `from holidays.countries import Entity` or `from holidays.financial import Entity`.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for fbprophet
  Running setup.py clean for fbprophet
Failed to build fbprophet
ERROR: Could not build wheels for fbprophet, which is required to install pyproject.toml-based projects

[notice] A new release of pip is available: 23.1 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [266]:
from statsmodels.tsa.arima.model import ARIMA
import statsmodels.api as sm

In [295]:
ARIMA_model = ARIMA(train_data["revenue"], order=(0,1,0))
ARIMA_fit = ARIMA_model.fit()

In [296]:
# Forecast on the validating set
forecast_steps = len(valid_data)
forecast = ARIMA_fit.get_forecast(steps=forecast_steps)
forecast_values = forecast.predicted_mean

In [288]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(valid_data['revenue'], forecast_values))
print(f'RMSE: {rmse}')

RMSE: 20194.142971790858

## 5. XGBoost model with hyperparamaters

In [357]:
from xgboost import XGBRegressor
X_train,y_train = train_data[['lag_1']], train_data['revenue']
X_val,y_val = valid_data[['lag_1']], valid_data['revenue']

XGB = XGBRegressor(n_estimators=100, learning_rate=0.04, max_depth=2)
XGB_fit=XGB.fit(X_train, y_train)
# Make predictions on the validating set
y_preds = XGB_fit.predict(X_val)
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_val, y_preds))
print(f'RMSE: {rmse}')

RMSE: 19476.41005217665

## 6. XGBoost model with optimal hyperparamaters and lags

In [108]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

df_cleaned = df_train_grouped.copy()
df_cleaned['day_of_month'] = df_cleaned['date'].dt.day
df_cleaned['month_of_year'] = df_cleaned['date'].dt.month
df_cleaned['day_of_week'] = df_cleaned['date'].dt.dayofweek

#Set up lag
lag = 34
for i in range(1, lag + 1):
    df_cleaned[f'lag_{i}'] = df_cleaned['revenue'].shift(i)
#Drop na after lag
df_cleaned = df_cleaned.dropna()

#Spliting data again
index = int(len(df_cleaned) * 0.8)
train_data = df_cleaned.drop(columns=['date','is_event']).iloc[:index]
valid_data = df_cleaned.drop(columns=['date','is_event']).iloc[index:]

#Fit model
XGB = XGBRegressor(n_estimators=100, learning_rate=0.04, max_depth=2,random_state=42)
X_train = train_data.drop('revenue', axis=1)
y_train = train_data['revenue']
XGB_lag_fit=XGB.fit(X_train, y_train)

#Predict validate data
X_val = valid_data.drop('revenue', axis=1)
y_val = valid_data['revenue']
y_preds = XGB_lag_fit.predict(X_val)

#Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_val, y_preds))
print(f'RMSE: {rmse}')

RMSE: 9323.332102272147

In [110]:
from joblib import dump
dump(XGB_lag_fit,'../../models/forecasting/XGBoost.joblib')

['../../models/forecasting/XGBoost.joblib']